<div class="relative overflow-x-auto py-6 px-4 space-y-4 2xl:px-0">
  <div class="flex justify-end gap-2">
    <%= render LinkToComponent.new("Odśwież listę", entries_surveys_path, color: "blue", data: { turbo_frame: "survey_entries", turbo_prefetch: false }) %>
    <%= render LinkToComponent.new("Nowa Ankieta", new_survey_path, color: "blue", data: { turbo_frame: "modal" }) %>
  </div>

  <div class="border border-gray-300">
    <%= render partial: "surveys", locals: { surveys: @surveys } %>
  </div>
</div>
